$site-content-padding: 20px;
$site-footer-height: 28px;
$site-header-height: 40px;

$mobile-screen-breakpoint: 600px;
$narrow-screen-breakpoint: 840px;

@mixin main-content-wrapper {
  min-height: 100vh;
  padding: ($site-header-height + $site-content-padding) $site-content-padding
    $site-footer-height;
}
