$site-content-padding: 20px;
$site-footer-height: 32px;
$site-footer-mobile-height: 56px;
$site-header-height: 40px;

$mobile-screen-breakpoint: 600px;
$narrow-screen-breakpoint: 840px;

@mixin main-content-wrapper {
  min-height: 100vh;
  padding: ($site-header-height + $site-content-padding) $site-content-padding
    $site-footer-height;

  @media screen and (max-width: $mobile-screen-breakpoint) {
    padding-bottom: $site-footer-mobile-height;
  }
}
