// Needed?

@import "../../../themes/themes.scss";
@import "../../../themes/theme-handler.scss";

@import "../../../sass-mixins/fonts.scss";
@import "../../../sass-mixins/sizes.scss";

.code-link-text {
  @include font-label-large;

  background-color: rgba(0, 0, 0, 80%);
  border-radius: 4px;
  bottom: 40px;
  color: aliceblue;
  left: 20px;
  padding: 20px 12px;
  position: absolute;
  transition: 0.15s ease;
  width: calc(100% - 40px);
}

.baseTile {
  &:hover {
    .code-link-text {
      background-color: rgba(#207fff, 80%);
    }
  }
}

.tileContainer {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(
    auto-fill,
    calc(25% - 15px)
  ); // TODO: probably update this when first using standalone tile container
}

.tileContainer-withPrimary {
  grid-template-areas: "primary primary secondary secondary secondary";
  grid-template-columns:
    calc(20% - 16px) calc(20% - 16px) calc(20% - 16px) calc(20% - 16px)
    calc(20% - 16px);
  grid-template-rows: auto;

  @media (max-width: $narrow-screen-breakpoint) {
    grid-template-areas:
      "primary primary primary primary primary"
      "secondary secondary secondary secondary secondary";
  }

  .tileContainer {
    grid-template-columns: repeat(auto-fill, calc(50% - 10px));
  }

  .tileContainer--primary {
    grid-area: primary;
    min-width: 0;
  }

  .tileContainer--secondary {
    grid-area: secondary;
    min-width: 0;
  }
}

.baseTile {
  @include themify($themes) {
    border-color: themed("border");
    box-shadow: 0 0 8px 1px rgba(themed("on-background"), 20%) inset;
    color: themed("on-background");

    &:active,
    &:hover {
      background-color: themed("background-hover");
      border-color: themed("brand-secondary");
      box-shadow: 0 0 1px 1px rgba(themed("brand-primary"), 20%) inset;
      color: themed("on-background");
    }

    &:visited {
      color: themed("on-background");
    }
  }

  border-radius: 8px;
  border-style: solid;
  border-width: 1px;
  cursor: pointer;
  display: block;
  padding: 20px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: 0.15s ease;
}

.baseTile-ad {
  @include themify($themes) {
    &:active,
    &:hover {
      background-color: themed("background-hover");
      border-color: themed("sacrotees");
      box-shadow: 0 0 1px 1px rgba(themed("sacrotees"), 20%) inset;
    }
  }

  &:hover {
    transform: perspective(800px) rotateY(-8deg) rotateX(-8deg);
  }
}

.baseTile-primary {
  @include themify($themes) {
    box-shadow: none;

    &:active,
    &:hover {
      box-shadow: none;
    }
  }

  border-width: 0;
  padding: 0;

  &:hover {
    transform: perspective(800px) rotateY(8deg);
  }

  img {
    border-radius: 8px;
    width: 100%;
  }

  // @media (max-width: $narrow-screen-breakpoint) {
  //   width: 100%;
  // }
}
