// Needed?

@import "../../../themes/themes.scss";
@import "../../../themes/theme-handler.scss";

@import "../../../sass-mixins/fonts.scss";
@import "../../../sass-mixins/sizes.scss";

.code-link-text {
  @include font-label-large;

  background-color: rgba(0, 0, 0, 80%);
  border-radius: 4px;
  bottom: 40px;
  color: aliceblue;
  left: 20px;
  padding: 20px 12px;
  position: absolute;
  transition: 0.15s ease;
  width: calc(100% - 40px);
}

.baseTile {
  &:hover {
    .code-link-text {
      background-color: rgba(#207fff, 80%);
    }
  }
}
