@import "../../../sass-mixins/fonts.scss";

// Image is same in all themes, hence not using theme colors on top.

.cooking-link-text {
  @include font-label-large;

  background-color: rgba(0, 0, 0, 80%);
  border-radius: 4px;
  bottom: 40px;
  color: aliceblue;
  padding: 20px 12px;
  position: absolute;
  transition: 0.15s ease;
}

.baseTile {
  &:hover {
    .cooking-link-text {
      background-color: rgba(#207fff, 80%);
    }
  }
}
