// https://medium.com/@dmitriy.borodiy/easy-color-theming-with-scss-bc38fd5734d1

$themes: (
  light: (
    background: #fff,
    border: #dcdcdc,
    brand-primary: #61bfff,
    brand-secondary: #207fff,
    link: #207fff,
    on-background: #222,
  ),
  dark: (
    background: #222,
    border: #dcdcdc,
    brand-primary: #61bfff,
    brand-secondary: #d3f3ff,
    link: #61bfff,
    on-background: #fff,
  ),
);
