@import "../../sass-mixins//fonts.scss";
@import "../../sass-mixins/sizes.scss";

@import "../../themes/themes.scss";
@import "../../themes/theme-handler.scss";

#site-footer {
  @include themify($themes) {
    background-color: themed("background");
    border-color: themed("border");
    color: themed("on-background");
  }

  border-top-style: solid;
  border-top-width: 1px;
  bottom: 0;
  box-sizing: border-box;
  display: flex;
  height: $site-footer-height;
  justify-content: space-between;
  left: 0;
  padding: 0 $site-content-padding;
  position: fixed;
  right: 0;
  z-index: 100;

  .about-link {
    @include font-body-small;
  }

  .theme-switcher {
    @include font-body-small;

    > label {
      margin-left: 8px;
    }
  }
}
