@import "../../../sass-mixins/fonts.scss";
@import "./post-category-styles.scss";

.post-screen {
  .categoryLabel {
    @include post-category-background-colors;
    @include post-category-text-colors;

    border-radius: 8px;
    margin-top: 20px;
    padding: 2px 8px;
  }

  .post-wrapper {
    margin-top: 40px;

    ul {
      @include font-body-medium;

      list-style: disc;
      margin: 16px 0 24px 24px;
      padding-left: 20px;

      > li {
        margin-top: 8px;
      }
    }

    .italic {
      font-style: italic;
    }

    > * {
      &:first-child {
        float: left;
        margin-right: 40px;
        max-width: 200px;
      }
    }
  }
}
