@import "./post-category-styles.scss";

.posts-screen {
  .postCategoryLabel {
    @include post-category-background-colors;
    @include post-category-text-colors;

    border-radius: 8px;
    padding: 2px 8px;
  }

  .posts {
    > * {
      margin-top: 20px;
    }
  }
}
