@import "./themes/themes.scss";
@import "./themes/theme-handler.scss";

@import "./sass-mixins/fonts.scss";
@import "./sass-mixins/sizes.scss";

body {
  margin: 0;

  * {
    box-sizing: border-box;
  }
}

main {
  @include main-content-wrapper;

  @include themify($themes) {
    color: themed("on-background");
  }

  margin: 0 auto;
  max-width: $narrow-screen-breakpoint;
}

ol,
ul {
  clear: both;
  list-style: none;
  margin: 0;
  padding: 0;

  &.u-list-of-links {
    > li {
      margin-bottom: 16px;
    }
  }
}

a,
a:visited {
  @include themify($themes) {
    color: themed("link");
  }

  &:hover {
    @include themify($themes) {
      color: themed("link-hover");
    }
  }
}

h1 {
  @include font-headline-large;
}

h2 {
  @include font-headline-medium;
  padding-top: 28px;
}

p {
  @include font-body-medium;
}

.subheader {
  @include font-headline-medium;

  font-style: oblique;
  padding-bottom: 8px;
}

.headline {
  @include font-headline-medium;
}

.small-label {
  @include font-label-small;
}

.label {
  @include font-label-medium;
}

.large-label {
  @include font-label-large;
}

.text {
  @include font-body-medium;
}

.u-textAlignCentered {
  text-align: center;
}
