@import "./themes/themes.scss";
@import "./themes/theme-handler.scss";

@import "./sass-mixins/fonts.scss";
@import "./sass-mixins/sizes.scss";

body {
  margin: 0;

  main {
    @include themify($themes) {
      color: themed("on-background");
    }

    margin: 0 auto;
    max-width: $narrow-screen-breakpoint;
  }

  * {
    box-sizing: border-box;
  }
}

ol,
ul {
  clear: both;
  list-style: none;
  margin: 0;
  padding: 0;
}

a,
a:visited {
  @include themify($themes) {
    color: themed("link");
  }
}

h1 {
  @include font-headline-large;
}

p {
  @include font-body-medium;
}

.small-label {
  @include font-label-small;
}

.label {
  @include font-label-medium;
}

.u-textAlignCentered {
  text-align: center;
}
